<form action="">
    <table>
        <tr>
            <app-my-input name="Username" type="text" placeholder="Enter Username"></app-my-input>
        </tr>
        <tr>
            <app-my-input name="E-mail" type="email" placeholder="Enter E-mail"></app-my-input>
        </tr>
        <tr>
            <app-my-input name="Password" type="password" placeholder="Enter Password"></app-my-input>
        </tr>
        <tr>
            <app-my-input name="Repeat Password" type="password" placeholder="Repeat Password"></app-my-input>
        </tr>
    </table>
</form>
